.hack-aura-container {
  position: relative;
  height: 100vh;
  background: url('src/assets/images/hero.jpg') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
}

.overlay-text {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

 .top-text{
  font-size: 2rem;
  letter-spacing: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5 rem;
  margin: 1rem 0;
  color: #B0E6FF;
}

.hack-title {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 1rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 1rem 0;
}

.subtitle {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 0.9rem;
  letter-spacing: 0.3rem;
  font-weight: 600;
  color: rgb(57, 4, 85);
}

.duration {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.button-group {
  display: flex;
  gap: 5.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.btn-primary {
  background: linear-gradient(90deg, #ab0882, #ea15bc);
  border: none;
  color: black;
  padding: 0.75rem 2.5rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #00d0ff;
}

.btn-secondary {
  background: transparent;
  color: #d82bcf;
  padding: 0.75rem 2.5rem;
  border: 2px solid #d016d3;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-secondary:hover {
  background: rgba(0, 255, 178, 0.1);
  box-shadow: 0 0 10px #00c3ff;
  transform: scale(1.05);
}

.scrolling-tagline-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.75rem 0;
  margin-top: 0;
  position: relative;
  top: 0;
  z-index: 2;
}

.scrolling-tagline {
  display: inline-block;
  padding-left: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  color: #e222b5; /* or any neon color you use */
  animation: scroll-left 45s linear infinite;
   text-shadow: 0 0 5px #3a0939, 0 0 10px #e310b5, 0 0 15px #a00a64;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

