.hack-aura-container {
  position: relative;
  height: 100vh;
  background: url('src/assets/images/hero.jpg') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.overlay-text {
  text-align: center;
}

 .top-text{
  font-size: 2rem;
  letter-spacing: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5 rem;
  margin: 1rem 0;
  color: #B0E6FF;
}

.hack-title {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 1rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 1rem 0;
}

.subtitle {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 0.9rem;
  letter-spacing: 0.3rem;
  font-weight: 600;
  color: black;
}

.duration {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.button-group {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.btn-primary {
  background: linear-gradient(90deg, #32119e, #1987c6);
  border: none;
  color: black;
  padding: 0.75rem 2.5rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #00d0ff;
}

.btn-secondary {
  background: transparent;
  color: #32119e;
  padding: 0.75rem 2.5rem;
  border: 2px solid #3851a2;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-secondary:hover {
  background: rgba(0, 255, 178, 0.1);
  box-shadow: 0 0 10px #00c3ff;
  transform: scale(1.05);
}


